ion-fab{
  ion-label{
    font-weight: bold;
    color: black;
    font-size: small;
  }
}
.homeLogoApp{
  --background: none;
  --box-shadow:none;
}
.homeMenuButton{
  --background: none;
  --box-shadow:none;
}
ion-fab{
  ion-fab-button{
    ion-menu-button{
      --color:var(--ion-color-dark) !important;
    }
  }
}
ion-fab{
  ion-fab-button{
    --background-activated: none;
  }
}
