.arround_avatar{
    margin: 5%;
}
.format_text_username{
    font-family: "Calibri";
    font-size: large;
}
.format_text_rol{
    font-style: italic ;
    font-family: "Calibri";
    font-size: small;
}
.format_text_score{
    font-style: italic ;
    font-family: "Calibri";
    font-size: small;
}
