<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
            <ion-avatar slot="start" class="arround_avatar">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
            </ion-avatar>
            <ion-label class="format_text_username">
              Avatar Start, Button Item
            </ion-label>
            <ion-label class="format_text_rol">
              Cliente,
            </ion-label>
          <ion-label class="format_text_score">
            4.8
          </ion-label>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list color="dark">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="light" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>

      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
