<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-avatar slot="start" class="arroundAvatarMenu">
            <img src="../assets/imgs/userPicture.svg">
          </ion-avatar>
          <ion-item lines="none">
            <ion-list>
              <ion-label class="formatTextUsernameMenu" color="light">Item Avatar</ion-label>
              <ion-label class="formatTextRolMenu" color="light">Cliente</ion-label>
              <ion-badge slot="end" class="modalTextRolProfile" color="dark">4.8</ion-badge>
            </ion-list>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="light" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
          <ion-item color="dark" lines="none">
           <ion-img class="positionFooterLogoMenu" src="../assets/imgs/logoByBitdataBlanco.svg"></ion-img>
          </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
