<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Verificación</ion-title>
        <ion-icon name="md-key" size="large" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content padding [scrollY]="false">
    <ion-text color="light">Hemos enviado un código de verificación al número:</ion-text>
    <ion-label class="verificationTelfNumber" color="light">+593 98 365 4587</ion-label>
    <ion-item>
        <ion-label fixed><ion-icon name="md-key" color="light"></ion-icon></ion-label>
        <ion-input class="verificationInputCode" placeholder="Código" clearInput type="number" color="light"></ion-input>
    </ion-item>
    <ion-text color="light">Si no ha recibido ningún mensaje verifique que el número sea correcto o presione:</ion-text>
    <ion-label class="verificationResendTelfNumber" color="light">Enviar nuevamente...</ion-label>
    <ion-item lines="none" class="verificationItemButtons">
        <ion-button class="verificationSendButton" slot="start" color="primary" routerLink="/home">
            <ion-icon size="large" name="paper-plane"></ion-icon></ion-button>
        <ion-button class="verificationCloseButton" slot="end" color="medium" (click)="modalDismiss()">
            <ion-icon size="large" name="close"></ion-icon></ion-button>
    </ion-item>
</ion-content>
