.verificationModalClose{
  --background: none;
  --box-shadow:none;
}
ion-title{
  font-size: large;
  font-family: "Calibri";
  color: white;
}
.modalAvatarCenter{
  margin: 0 3% 0 0;
  background-color: var(--ion-color-dark);
}
.modalTextUsernameVerification{
  font-family: "Calibri";
  font-size: large;
  color: white;
}
.modalTextRolVerification{
  font-style: italic ;
  font-family: "Calibri";
  font-size: small;
  color: white;
}
ion-item{
  ion-button{
    margin-top: 25px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    --border-radius: 40px;
  }
}
ion-toolbar{
  --background: var(--ion-color-primary);
}
ion-list{
  --ion-background-color:#222428;
}
ion-content, ion-item, ion-label{
  --background: var(--ion-color-dark);
}
ion-item{
  --margin-bottom: 100px;
}
.verificationItemButtons{
  --padding-start:40px;
  --padding-end:40px;
}
