<ion-header>
  <ion-toolbar slot="secondary">
    <ion-title slot="start">Usted será atendido por:</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" class="homeModalClose">
      <ion-icon (click)="dismiss()" color="dark" name="close-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content padding>
      <ion-item lines="none">
        <ion-avatar class="profileUserpicture" slot="start" class="modalAvatarCenter">
          <img src="../../assets/imgs/userPicture.svg">
        </ion-avatar>
        <ion-list>
          <ion-label class="modalTextUsernameProfile">Item Avatar</ion-label>
          <ion-badge slot="end" class="modalTextRolProfile">4.8</ion-badge>
        </ion-list>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar class="profileUserpicture" slot="start" class="modalAvatarCenter">
          <img src="../../assets/imgs/userPicture.svg">
        </ion-avatar>
        <ion-list>
          <ion-label class="modalTextUsernameProfile">PDC 7814</ion-label>
        </ion-list>
      </ion-item>
  <ion-item>
    <ion-label class="modalTextRolProfile">Distancia:</ion-label>
    <ion-badge class="modalTextRolProfile">4.8KM</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label class="modalTextRolProfile">Tiempo de llegada:</ion-label>
    <ion-badge class="modalTextRolProfile">15mins</ion-badge>
  </ion-item>
</ion-content>
