<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" type="center">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
    <ion-icon name="person-add" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollY]="false">
  <ion-img class="registrationLogoApp" src="../assets/imgs/logoGass.svg"></ion-img>
  <!-- <firebase-ui></firebase-ui> -->
  <form #form="ngForm" (ngSubmit)="register()">
  <ion-item>
    <ion-label fixed><ion-icon name="person"></ion-icon></ion-label>
    <ion-input required clearInput class="registrationInputName" placeholder="Nombre" type="text" [(ngModel)]="user.name" name="name" value="Test"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed><ion-icon name="person"></ion-icon></ion-label>
    <ion-input required clearInput class="registrationInputLastname" placeholder="Apellidos" type="text" [(ngModel)]="user.lastname" name="lastname" value="Test"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed><ion-icon name="mail"></ion-icon></ion-label>
    <ion-input required clearInput class="registrationInputMail" placeholder="Email" type="email" [(ngModel)]="user.email" name="email" value="test@test.tt"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed><ion-icon name="call"></ion-icon></ion-label>
    <ion-input required clearInput class="registrationInputTelf" placeholder="+593 00 000 0000" type="tel" [(ngModel)]="user.cellphone" name="cellphone" value="+59812345678"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed><ion-icon name="compass"></ion-icon></ion-label>
    <ion-textarea required class="registrationInputAddr" placeholder="Dirección" type="text" [(ngModel)]="user.addr" name="addr" value="4495 NW 73rd Ave, Miami, Florida"></ion-textarea>
  </ion-item>
  <!-- <ion-item>
    <ion-label fixed><ion-icon name="key"></ion-icon></ion-label>
    <ion-input placeholder="Clave" clearInput type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed><ion-icon name="key"></ion-icon></ion-label>
    <ion-input placeholder="Confirmar clave" clearInput type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item> -->
  <ion-item lines="none" class="registrationItemButtons">
    <!-- <ion-button id="registerBtn" type="submit" [disabled]="form.invalid" class="registrationSaveButton" slot="start" color="primary"> -->
    <ion-button id="registerBtn" type="submit" class="registrationSaveButton" slot="start" color="primary">
      <ion-icon size="large" name="paper-plane"></ion-icon>
    </ion-button>
    <ion-button class="registrationCloseButton" slot="end" color="dark">
      <ion-icon size="large" name="close"></ion-icon>
    </ion-button>
  </ion-item>
</form>
</ion-content>
