ion-list{
  --ion-background-color:#F7931E;
}
ion-list{
  ion-item{
    border: none;
    --ion-background-color:#ffffff;
  }
}
ion-item{
  ion-button{
    margin-top: 80px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    --border-radius: 60px;
  }
}
.registrationItemButtons{
  --padding-start:40px;
  --padding-end:40px;
}
.registrationLogoApp{
  margin: 0 auto;
  width: 250px;
  height: 125px;
}
