<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" type="center">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item color="primary">
      <ion-avatar slot="end" class="avatar_center">
        <img src="../../assets/imgs/userPicture.svg">
      </ion-avatar>
        <ion-list>
          <ion-label class="format_text_username">Item Avatar</ion-label>
          <ion-label class="format_text_rol">Cliente</ion-label>
        </ion-list>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
