.avatarCenterProfile{
  margin: 5% 0 5% 0;
  background-color: var(--ion-color-dark);
}
ion-list{
  --ion-background-color:#F7931E;
}
ion-list{
  ion-item{
    border: none;
    --ion-background-color:#ffffff;
  }
}
ion-item{
  ion-button{
    margin-top: 200px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    --border-radius: 60px;
  }
}
.profileTextUsernameProfile{
  font-family: "Calibri";
  font-size: large;
}
.profileTextRolProfile{
  font-style: italic ;
  font-family: "Calibri";
  font-size: small;
}
