<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" type="center">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
    <ion-icon size="large" name="document" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="truck">
        <ion-icon name="car"></ion-icon>
        <ion-label>My camión</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>