<ion-header>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button class="homeMenuButton">
        <ion-menu-button></ion-menu-button>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button class="homeLogoApp">
        <ion-img src="../assets/imgs/imaLogoApp.svg"></ion-img>
      </ion-fab-button>
    </ion-fab>
  <ion-fab vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button class="homeLogoApp">
      <ion-icon name="remove-circle" (click)="decrement()"></ion-icon>
      {{currentNumber}}
      <ion-icon name="add-circle" (click)="increment()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>
<ion-content id="homeMap" [fullscreen]="true" [scrollY]="false">

</ion-content>

  <ion-footer>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button class="homeLocateMyPosition" size="small" color="light">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="homeSendRequest">
        <ion-icon name="checkmark" (click)="successfulPage()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer>

